/*-----GENERELLE INDSTILLINGER-----*/

* {
    box-sizing: border-box;
    margin: 0;
}

img {
    100%;
}

/*
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
*/

#logo {
    display: flex;
    float: right;
    padding: 10px;

}

body {
    max-width: 380px;
}




















































































/*-----GENERELLE INDSTILLINGER-----*/

/*-----BURGERMENU-----*/


#burgermenu {
    display: inline-block;
    cursor: pointer;


}

#bar1,
#bar2,
#bar3 {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 8px;
    transition: 0.4s;
}

.burger #bar1 {
    transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
}

.burger #bar2 {
    opacity: 0;
}

.burger #bar3 {
    transform: rotate(45deg) translate(-9px, -8px);
    transform: rotate(45deg) translate(-9px, -8px);
}


.hide_nav {
    display: none;
}

nav a {
    display: block;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
}



























/*-----BURGERMENU SLUT-----*/

/*-----LANDING PAGE-----*/

#landing_page {}


#splash_container {}































































































/*-----LANDING PAGE-----*/



































































































/*-----LANDINGPAGE SLUT-----*/

/*-----PRODUCT LIST-----*/

































































































/*-----PRODUCT LIST SLUT-----*/

/*-----SINGLE VIEW-----*/






























































































/*-----SINGLE VIEW SLUT-----*/

/*-----ABOUT-----*/

.about_image {
    background-image: url(billeder/tilomside.jpg);
    height: 400px;
    width: 100vw;
    object-fit: contain;

}

.about_text h2,
#about_container h1 {
    text-align: center;
    padding: 10px;
}

.about_text p {
    text-align: left;
    margin: 10px;
}




























































































/*-----ABOUT SLUT-----*/

/*-----CONTACT-----*/


#contact_container {
    object-fit: contain;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat (autofill, min-max(300px, 1fr));


}




.contact_image {
    background-image: url(billeder/contactimage1.jpg);
    background-repeat: no-repeat;




}

.contact_text {
    border: solid 1px black;
}

.contact_text h2 {
    text-align: center;
}



































































































/*-----CONTACT SLUT-----*/
/*------FOOTER---------*/


#footerindhold {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    background-color: whitesmoke;
    margin-top: 5vw;
    padding-left: 5vw;

}

.adresse,
aside {
    margin: 5px 10px;
    padding: 20px;

}


.kontakt_titel {
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

#kontakt p {
    margin: 0 0 10px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

.kontakt_img {
    width: 5vw;
}


/*----- FOOTER SLUT -----*/

/*-----MEDIA QUERIES-----*/


@media only screen and (min-width: 600px) {
    body {
        max-width: 1400px;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    #menu {
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    #burgermenu {
        display: none;
    }


    nav a {
        float: left;
        padding: 20px 60px 20px 60px;
        margin-top: 20px;
    }

    #logo {
        background-image: ;
        margin: auto 0;
        padding: 30px;
    }





    /* mediaquery ABOUT */
    #about_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .about_text {
        width: 100%;

    }

    .about_image {
        background-image: url(billeder/tilomside.jpg);
        height: 100vh;
        width: 100%;
        object-fit: contain;

    }

    .about_text h2,
    #about_container h1 {
        text-align: center;
        padding: 10px;
    }

    .about_text p {
        text-align: left;
        margin: 10px;
    }










    /****** footer ******/

    #footerindhold {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        background-color: whitesmoke;
        margin-top: 5vw;
        padding-left: 16vw;




    }

    .adresse,
    aside {
        width: 100%;
        margin: 5px 10px;
        padding: 20px;

    }


    .kontakt_titel {
        font-size: 22px;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
    }

    #kontakt p {
        margin: 0 0 10px 0;
        font-family: 'Raleway', sans-serif;
    }

    .kontakt_img {
        width: 2vw;
    }




}






























































































/*-----MEDIA QUERIES SLUT-----*/
