/*-----GENERELLE INDSTILLINGER-----*/

* {
    box-sizing: border-box;
    margin: 0;
}

img {
    100%;
}

























































































/*-----GENERELLE INDSTILLINGER-----*/

/*-----BURGERMENU-----*/


#burgermenu {
    display: inline-block;
    cursor: pointer;

}

#bar1,
#bar2,
#bar3 {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 8px;
    transition: 0.4s;
}

.burger #bar1 {
    transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
}

.burger #bar2 {
    opacity: 0;
}

.burger #bar3 {
    transform: rotate(45deg) translate(-9px, -8px);
    transform: rotate(45deg) translate(-9px, -8px);
}


.hide_nav {
    display: none;
}

nav a {
    display: block;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
}



























/*-----BURGERMENU SLUT-----*/

/*-----LANDING PAGE-----*/

#landing_page {}


#splash_container {}































































































/*-----LANDING PAGE-----*/



































































































/*-----LANDINGPAGE SLUT-----*/

/*-----PRODUCT LIST-----*/

































































































/*-----PRODUCT LIST SLUT-----*/

/*-----SINGLE VIEW-----*/

































































































/*-----SINGLE VIEW SLUT-----*/

/*-----ABOUT-----*/

































































































/*-----ABOUT SLUT-----*/

/*-----CONTACT-----*/

































































































/*-----CONTACT SLUT-----*/

/*-----MEDIA QUERIES-----*/


@media only screen and (min-width: 600px) {

    #menu {
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    #burgermenu {
        display: none;
    }


    nav a {
        float: left;
        padding: 20px 60px 20px 60px;
        margin-top: 20px;
    }


}





























































































/*-----MEDIA QUERIES SLUT-----*/
