* {
    box-sizing: border-box;
    margin: 0;
}

img {
    100%;
}

body {
    background-color: #f2f2f2;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    background-color: #f2f2f2;
    margin-bottom: 2vw;
}

/* font til overskrift, helvetica neue thin*/

/* font til brødtekst, helvetica neue regular*/


h2,
h3,
h4,
p {
    font-family: 'Raleway', sans-serif;
}

a,
h1 {
    font-family: 'Roboto', sans-serif;
}

a {
    font-size: 1.2rem;
    color: #27331B;
}



/*a:hover - Udkommenteret fordi der ikke behøver at være hover på i mobile, da det alligevel ikke kan benyttes*/

/*
a:hover {
    border-top: #AAA69B solid 2px;
}
*/




/*tilbageknap*/

.tilbage {
    background-image: url(billeder/backbuttongreen.svg);
    height: 20px;
    width: 40px;
    border-style: none;
    background: none;
    margin-left: 6.5vw;
    margin-top: 5vw;


}

#logo {
    grid-column: 2/3;
    display: inline-block;
    justify-self: center;
    margin-top: 10px;
    background-image: url(billeder/Logo.svg);
    height: 55px;
    width: 100px;
    background-repeat: no-repeat;

}





















/*-----GENERELLE INDSTILLINGER-----*/

/*-----BURGERMENU-----*/


#burgermenu {
    display: inline-block;
    cursor: pointer;
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: end;
    align-self: center;
    margin-right: 10px;
}

#menu {
    grid-column: 2/3;
    grid-row: 2/3;

}



#bar1,
#bar2,
#bar3 {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 8px;
    transition: 0.4s;
}

.burger #bar1 {
    transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
}

.burger #bar2 {
    opacity: 0;
}

.burger #bar3 {
    transform: rotate(45deg) translate(-9px, -8px);
    transform: rotate(45deg) translate(-9px, -8px);
}


.hide_nav {
    display: none;
}

nav a {
    display: block;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
}

























/*-----BURGERMENU SLUT-----*/

/*-----LANDING PAGE-----*/

#landing_page {}


#splash_container {
    background-color: #27331B;
    height: 70vh;

    position: relative;
}

.splash_img {
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(billeder/splashtest3.jpg);

    width: 90vw;
    height: 40vh;
    top: 20%;
    left: 5vw;


}


#splash_text {
    height: 25vh;

}

#splash_text h1 {
    text-align: center;
    padding: 10px;
}

#splash_text h2 {
    text-align: center;
    padding: 10px;
}
























































































/*-----LANDING PAGE SLUT-----*/



































































































/*-----LANDINGPAGE SLUT-----*/

/*-----PRODUCT LIST-----*/

#ekstramenu h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

#ekstramenu nav {
    display: flex;
    justify-content: center;
}



#ekstramenu button {
    cursor: pointer;
    border: none;
    text-decoration: none;
    margin: 8px 5px;
    background-color: transparent;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;


}

.solbriller img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.solbriller h1,
h2,
h3 {
    text-align: center;
}

.solbriller {
    padding-bottom: 30px;
    cursor: pointer;
}


/*
Brug til dynamisk indhold af produktlisterne, mediqaueries behøves så ikke
\display: Grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
*/































































/*-----PRODUCT LIST SLUT-----*/

/*-----SINGLE VIEW-----*/
#detalje img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%
}

#detalje h1 {
    text-align: center;
    font-size: 2rem;
    padding-top: 10px;
}

#detalje h2,
h3,
h4 {
    text-align: center;
    padding: 10px;

}





























































































/*-----SINGLE VIEW SLUT-----*/

/*-----ABOUT-----*/

.about_image {
    background-image: url(billeder/aboutimage5.jpg);
    background-repeat: no-repeat;
    height: 500px;
    width: 100vw;

    background-repeat: no-repeat;

    object-fit: contain;


}

.about_text {
    border: none;
    padding: 15vw;
}


.about_text h1,
#about_container {
    text-align: center;

}

.about_text p {
    text-align: center;
    margin: 10px;
}























































/*-----ABOUT SLUT-----*/

/*-----CONTACT-----*/





.contact_image {
    background-image: url(billeder/contactimage3.jpg);
    background-repeat: no-repeat;
    height: 500px;
    width: 100vw;
    object-fit: contain;




}

.contact_text {
    border: none;
    padding: 15vw;
}

.contact_text h1,
#contact_container {
    text-align: center;

}

.about_text p {
    text-align: center;
    margin: 10px;
}































/*-----CONTACT SLUT-----*/
/*------FOOTER ---------*/


#footerindhold {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #9FAC9A;



}

footer {
    background-color: #9FAC9A;
}

.kontakt_titel {

    text-transform: uppercase;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;


}

.adresse,
aside {
    margin: 5px 10px;
    padding: 10px;

}


#kontakt p {
    margin: 5 5 10px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
}

.kontakt_img {
    width: 5vw;
}


/*.social,
aside {
    margin: 5px 10px;
    padding: 30px;

}

.kontakt_titel {
    font-size: 22px;
    text-transform: uppercase;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;


}


.social_img {
    width: 5vw;
}
*/








/*----- FOOTER SLUT -----*/

/*-----MEDIA QUERIES-----*/




@media only screen and (min-width: 768px) {

    body {
        background-color: #f2f2f2;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 0;
        margin-bottom: 2vw;



    }

    #menu {
        display: flex;
        justify-content: center;

    }

    #burgermenu {
        display: none;
    }


    nav a {
        display: inline-block;
        font-size: 1.2rem;
        padding: 8px 22px;
        margin-top: 20px;
    }




    nav a:hover {
        border-right: #AAA69B solid 2px;
    }




    .tilbage {
        background-image: url(billeder/backbuttongreen.svg);
        height: 44px;
        width: 80px;
        display: flex;

    }

    button:hover {
        transition: .2s;
        border-top: solid 3px #AAA69B;
    }



    .valgt {
        border-top: solid 3px rgba(255, 255, 255, .5);
    }


    .datacontainer {
        margin: 0 auto;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 10px;
        max-width: 1200px;
    }




    /********* HOME ********/

    #landing_page {
        position: relative;
    }



    #splash_container {
        display: grid;
        margin-top: 0.9vw;
        height: 100vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }



    .splash_img {
        position: absolute;
        background-image: url(billeder/alonso_splash615x528.jpg);

        width: 40vw;
        height: 70vh;
        top: 10%;
        left: 54vw;
        object-fit: contain;

    }

    .colorbox {
        height: 100vh;

    }


    .left {
        grid-column: 1/3;
        background-color: #F2F2F2;
    }

    .right {
        grid-column: 3/5;

        background-color: #27331B;
    }

    #splash_text {
        position: absolute;
        top: 23%;
        left: 10%;
    }

    #splash_text h1 {
        text-align: center;
        padding: 10px;
        font-size: 3rem;
    }

    #splash_text h2 {
        text-align: center;
        padding: 10px;
        font-size: 1.9rem;
    }

    #logo {
        margin: 10px;
        padding: 0px;
        height: 77px;
        width: 150px;
        grid-column: 1/2;

    }


    /*--- mediaquery productlist ---*/


    #ekstramenu button:link {
        cursor: pointer;
        border: none;
        text-decoration: none;
        margin: 8px 5px;
        background-color: transparent;
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;

    }


    #ekstramenu button:visited {
        cursor: pointer;
        border: none;
        text-decoration: none;
        margin: 8px 5px;
        background-color: transparent;
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
    }


    #ekstramenu button:hover {
        border-right: #AAA69B solid 2px;
        margin-top: 3px;

    }

    #ekstramenu button:active {
        border-top: #AAA69B solid 2px;
        margin-top: 3px;

    }


    /*--- mediaquery productlist SLUT ---*/

    /*------------mediaquery single view START----------*/
    #detalje img {
        display: block;
        margin-left: auto;
        margin-right: auto;

        width: 40%;
    }


    #detalje h1 {
        text-align: center;
        font-size: 2rem;
        padding-top: 10px;
    }

    #detalje h2,
    h3,
    h4 {
        text-align: center;

    }

    #detalje h3 {
        font-size: 2rem;
    }

    /*------------mediaquery single view SLUT----------*/



    /* mediaquery ABOUT */
    #about_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 3vw;

    }

    .about_text {
        width: 100%;

    }

    .about_image {
        background-image: url(billeder/aboutimage5.jpg);
        height: 100vh;
        width: 100%;
        background-repeat: no-repeat;
        margin-right: 50px;

    }


    .about_text h1 {
        text-align: center;
        padding: 10px;
        font-size: 30px;
    }

    .about_text p {
        text-align: center;
        margin: 10px;
        font-size: 15px;
    }






    /*---Mediaquery contact---*/

    #contact_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 5vw;

    }



    .contact_text {
        width: 100%;

    }

    .contact_image {
        background-image: url(billeder/contactimage3.jpg);
        height: 100vh;
        width: 100%;
        background-repeat: no-repeat;
        margin-right: 50px;

    }


    .contact_text h1 {
        text-align: center;
        font-size: 30px;
        margin: 2px;
    }


    .contact_text p {
        text-align: center;
        margin: 10px;
        font-size: 15px;
    }



    /*---Mediaquery contact slut---*/




    /****** footer ******/

    /****** footer ******/

    #footerindhold {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: #9FAC9A;

        padding-left: 25vw;
        padding: 40px 40px;

    }

    footer {
        background-color: #9FAC9A;
    }

    .kontakt_titel {
        font-size: 20px;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
    }

    #kontakt p {
        margin: 0 0 10px 0;
        font-family: 'Raleway', sans-serif;

    }

    .adresse,
    aside {

        margin: 5px 10px;
        padding: 5px;

    }

    .kontakt_img {
        width: 2vw;
    }



    /*.social,
    aside {
        margin: 5px 10px;
        padding: 30px;

    }

    .socialemedier_titel {
        font-size: 22px;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;

    }



    .social_img {
        width: 2vw;
    }
*/
}


@media only screen and (min-width: 1024px) {

    nav a {
        padding: 8px 20px;
        margin-top: 20px;
    }

    .datacontainer {
        margin: 0 auto;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
        grid-gap: 10px;
        max-width: 1200px;
    }

    #detalje img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%
    }

    #detalje h1 {
        text-align: center;
        font-size: 3rem;
        padding-top: 10px;
    }

    #detalje h2,
    #detalje h3,
    #detalje h4 {
        text-align: center;
        padding: 10px;
        font-size: 1.7rem;

    }

    footer {
        background-color: #9FAC9A;
    }
}



@media only screen and (min-width: 1223px) {
    nav a {
        padding: 8px 40px;
        margin-top: 20px;
    }

    #detalje img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%
    }

    #detalje h1 {
        text-align: center;
        font-size: 2rem;
        padding-top: 10px;
    }

    #detalje h2,
    #detalje h3,
    #detalje h4 {
        text-align: center;
        padding: 10px;
        font-size: 2rem;

    }
}















































/*-----MEDIA QUERIES SLUT-----*/
